* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #c5e0b4;
}
.navbar a {
  color: #3e3e3e;
  font-weight: 700;
}
.nav-item a:hover {
  color: #6c63ff;
}
.nav-item .dropdown-item:hover {
  background-color: white;
}
.hero {
  background-color: #c5e0b4;
}
.hero h1 {
  font-weight: 700;
  font-size: 2.75em;
}
.hero p {
  font-weight: 500;
  font-size: 1.25em;
}
.signup-brands a {
  background-color: white;
  color: #6c63ff;
  font-size: 1.5em;
  margin: 0 5px;
}
.purple {
  color: #6c63ff;
}
.credits a {
  color: #ecf3e6;
  text-decoration: none;
  font-size: x-small;
}
.signup_btn {
  background-color: #6c63ff;
}
.login_btn {
  border: solid 1px #6c63ff;
}
.btn-square {
  width: 50px;
  height: 50px;
}
